# Data Aggregation with Pandas

In [39]:
import pandas as pd

data = {
    'City': ['Mumbai', 'Delhi', 'Bangalore', 'Hyderabad', 'Chennai','Mumbai','Hyderabad'],
    'Date': pd.date_range(start='2024-01-01', periods=7), 
    'Temperature': [30, 32, 28.5, 35, 40,20.5,32]
}
df = pd.DataFrame(data)
df.to_csv('temperature_data.csv', index=False)

#### Problem: Utilize Pandas to analyze a dataset containing information about daily temperature recordings across different cities. The dataset includes columns: 'City', 'Date', and 'Temperature'. Write a Python script to:

In [40]:
Temperature_data=pd.read_csv("temperature_data.csv")

In [41]:
Temperature_data

        City        Date  Temperature
0     Mumbai  2024-01-01         30.0
1      Delhi  2024-01-02         32.0
2  Bangalore  2024-01-03         28.5
3  Hyderabad  2024-01-04         35.0
4    Chennai  2024-01-05         40.0
5     Mumbai  2024-01-06         20.5
6  Hyderabad  2024-01-07         32.0

#### Calculate the average temperature for each city.

In [42]:
average_temperature=Temperature_data.groupby("City")["Temperature"].mean()

In [43]:
average_temperature

City
Bangalore    28.50
Chennai      40.00
Delhi        32.00
Hyderabad    33.50
Mumbai       25.25
Name: Temperature, dtype: float64

#### Determine the city with the highest average temperature.

In [58]:
higest=Temperature_data.max()

In [59]:
higest

City               Mumbai
Date           2024-01-07
Temperature          40.0
dtype: object

#### Find the date with the lowest recorded temperature across all cities.

In [70]:
lowest=Temperature_data.min()

In [71]:
lowest

City            Bangalore
Date           2024-01-01
Temperature          20.5
dtype: object